* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #147373, grey);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  height: 100vh;
  gap: 2rem;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

#input {
  padding: 0.5rem;
  width: 20rem;
  border-radius: 1rem;
  outline: none;
  border-style: none;
}

.btn-add {
  padding: 0.5rem;
  border-style: none;
  outline: none;
  border-radius: 1rem;
  background-color: rgb(117, 222, 187);
}

.btn-ctn {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .btn-remove{
  opacity: 0;
} */

.par-styling {
  margin: 0;
  cursor: pointer;
  font-size: 35px;
  color: magenta;
  text-transform: capitalize;
}

.checked {
  /* width: 20px;
  height: 20px; */
  background-color: #147373;
  text-decoration: line-through;
  transform: rotateX(360deg);
}

ul,
p {
  width: 100%;
}
li {
  display: flex;
  background-color: lightgrey;
  color: rgb(41, 41, 41);
  font-weight: bold;
  margin-bottom: 1rem;
  /* align-items: center; */
  justify-content: space-between;
  transition: all 0.5s;
}
.fa-trash,
.fa-check {
  padding: 5px;
}

/* .iframe{
  display: none;
} */
